Version5/flows.json
[
    {
        "id": "aed4188cc8089bcf",
        "type": "tab",
        "label": "Dashboard final",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cda9f2265fd03242",
        "type": "ui_button",
        "z": "aed4188cc8089bcf",
        "name": "",
        "group": "6ab946a1dfa091b3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "⬆️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "recto",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "3f2013d63df3acd1",
                "4a2bf447b8fee83f"
            ]
        ]
    },
    {
        "id": "43159b17474761ab",
        "type": "ui_button",
        "z": "aed4188cc8089bcf",
        "name": "",
        "group": "6ab946a1dfa091b3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "⬅️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "izquierda",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "0c18d0e0c4a40e35",
                "4a2bf447b8fee83f"
            ]
        ]
    },
    {
        "id": "516809c5853eaee5",
        "type": "ui_button",
        "z": "aed4188cc8089bcf",
        "name": "",
        "group": "6ab946a1dfa091b3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "➡️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "derecha",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "93cee7690a342f35",
                "4a2bf447b8fee83f"
            ]
        ]
    },
    {
        "id": "b664badfc272613f",
        "type": "ui_button",
        "z": "aed4188cc8089bcf",
        "name": "",
        "group": "6ab946a1dfa091b3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "⬇️",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "abajo",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "f39725b6586e6932",
                "4a2bf447b8fee83f"
            ]
        ]
    },
    {
        "id": "3f2013d63df3acd1",
        "type": "coap request",
        "z": "aed4188cc8089bcf",
        "method": "GET",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.20.10.13:5683/advance",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "advance",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "19f7d816e135a7f3"
            ]
        ]
    },
    {
        "id": "19f7d816e135a7f3",
        "type": "debug",
        "z": "aed4188cc8089bcf",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "0c18d0e0c4a40e35",
        "type": "coap request",
        "z": "aed4188cc8089bcf",
        "method": "GET",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.20.10.13:5683/left",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "left",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "ba7cd187ceb8be58"
            ]
        ]
    },
    {
        "id": "ba7cd187ceb8be58",
        "type": "debug",
        "z": "aed4188cc8089bcf",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "93cee7690a342f35",
        "type": "coap request",
        "z": "aed4188cc8089bcf",
        "method": "GET",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.20.10.13:5683/right",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "right",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "b55753c5fa3bb821"
            ]
        ]
    },
    {
        "id": "b55753c5fa3bb821",
        "type": "debug",
        "z": "aed4188cc8089bcf",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "f39725b6586e6932",
        "type": "coap request",
        "z": "aed4188cc8089bcf",
        "method": "GET",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.20.10.13:5683/back",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "back",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "5a1174b7edcb20bf"
            ]
        ]
    },
    {
        "id": "5a1174b7edcb20bf",
        "type": "debug",
        "z": "aed4188cc8089bcf",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "0facd6951ad999e8",
        "type": "coap request",
        "z": "aed4188cc8089bcf",
        "method": "GET",
        "confirmable": false,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "coap://172.20.10.13:5683/light",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "light",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "e2b6a47e93bb8c43"
            ]
        ]
    },
    {
        "id": "e2b6a47e93bb8c43",
        "type": "debug",
        "z": "aed4188cc8089bcf",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "4a2bf447b8fee83f",
        "type": "ui_text_input",
        "z": "aed4188cc8089bcf",
        "name": "",
        "label": "Dirección actual?",
        "tooltip": "",
        "group": "6ab946a1dfa091b3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "53c35284f9f7dfbf",
        "type": "ui_switch",
        "z": "aed4188cc8089bcf",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "8f4252c1348dc9e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "0facd6951ad999e8"
            ]
        ]
    },
    {
        "id": "6ab946a1dfa091b3",
        "type": "ui_group",
        "name": "Movimientos del coche",
        "tab": "cad50a939ed73147",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f4252c1348dc9e9",
        "type": "ui_group",
        "name": "LED",
        "tab": "cad50a939ed73147",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cad50a939ed73147",
        "type": "ui_tab",
        "name": "Dashboard Final",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]